In [23]:
from elasticsearch import Elasticsearch
import pandas as pd
import time

In [95]:
def get_last(Host='35.194.152.180'):
    es = Elasticsearch([Host], timeout=30)
    result = es.search(index="btc_top100_index", body={
        "aggs" : {"max_time" : { "max" : { "field" : "Time (UTC)" } }
        },
        "size":0
    })
    last = result['aggregations']['max_time']['value']/1000
    return last

In [96]:
get_last()

1536658990.0

In [4]:
es

In [21]:
df = pd.read_csv('f100_1070911.csv')

In [22]:
df.head()

,Block,Time (UTC),year,month,date,timestamp,Amount (BTC),Balance (BTC),Balance (USD),USD price,address,rank
0,540930,2018-09-11T09:43:10Z,2018,9,11,20180911,-18.528438,11223.336665,71129094.0,6337.61,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,93
1,540929,2018-09-11T09:21:04Z,2018,9,11,20180911,-77.423919,11241.865103,71246520.0,6337.61,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,93
2,540928,2018-09-11T09:01:49Z,2018,9,11,20180911,205.515357,11319.289022,71737202.0,6337.61,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,93
3,540926,2018-09-11T08:49:04Z,2018,9,11,20180911,-70.214448,11113.773665,70434727.0,6337.61,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,93
4,540925,2018-09-11T08:28:00Z,2018,9,11,20180911,48.632718,11183.988113,70879718.0,6337.61,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,93

In [39]:
time.mktime(time.localtime())

1537942055.0

In [37]:
time.asctime()

'Wed Sep 26 14:06:32 2018'

In [32]:
testing = df['Time (UTC)'][0]

In [43]:
time.mktime(time.strptime(testing, "%Y-%m-%dT%H:%M:%SZ"))

1536630190.0

In [7]:
def test_function():
    a = address_scrapper()
    rich_address = a.get_list()
    test_address = rich_address[0]
    full = 'https://bitinfocharts.com/bitcoin/address/{}-full'.format(test_address)
    t = data_scrapper(full)
    res_table = t.get_table()
    return res_table

In [8]:
df = test_function()

In [9]:
df['time_numeric'] = df['Time'].apply(lambda x:time.mktime(time.strptime(x, "%Y-%m-%d %H:%M:%S UTC")))

In [10]:
df[df['time_numeric']>get_last()]

Empty DataFrame
Columns: [Block, Time, Amount, Balance, Balance, USD, time_numeric]
Index: []

In [10]:
from bitinfocharts import *

In [57]:
from technical import tech

In [2]:
df_filtered = filtered_table()

16ftSEQ4ctQFDtVZiUBusQUjRrGhM3JYwe 0
1AC4fMwgY8j9onSbXEWeH6Zan8QGMSdmtA 15
16JNEdbSahSuPFv2rGKgsHoekQsTqEgF8d 30
3Kzh9qAqVWQhEsfQz7zEQL1EuSx5tyNLNS 45
16FSBGvQfy4K8dYvPPWWpmzgKM6CvrCoVy 60
1DWsHCjeekCe3tRzMuJktHhFrtLQDeodcP 75
1CMbVZV7xbAiFFauuAf3tgZRhwLKXmMUZL 90

In [7]:
df_filtered

,Block,Time (UTC),year,month,date,timestamp,Amount (BTC),Balance (BTC),Balance (USD),USD price,address,rank
0,543139,2018-09-26T08:04:14Z,2018,9,26,20180926,-18.480788,15853.216217,1.022417e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1,543138,2018-09-26T07:59:43Z,2018,9,26,20180926,-27.986459,15871.697006,1.023608e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
2,543137,2018-09-26T07:48:32Z,2018,9,26,20180926,58.122380,15899.683465,1.025413e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
3,543136,2018-09-26T07:44:53Z,2018,9,26,20180926,-64.064459,15841.561085,1.021665e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
4,543135,2018-09-26T07:29:38Z,2018,9,26,20180926,-32.706714,15905.625544,1.025797e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
5,543134,2018-09-26T07:20:41Z,2018,9,26,20180926,-31.313940,15938.332257,1.027906e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
6,543131,2018-09-26T07:04:24Z,2018,9,26,20180926,-16.957428,15969.646197,1.029925e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
7,543129,2018-09-26T06:57:44Z,2018,9,26,20180926,-40.970620,15986.603625,1.031019e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
0,543128,2018-09-26T06:52:53Z,2018,9,26,20180926,12.647227,14330.895237,9.242380e+07,6449.27,155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4,82
8,543128,2018-09-26T06:52:53Z,2018,9,26,20180926,54.640342,16027.574245,1.033661e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
9,543125,2018-09-26T06:42:09Z,2018,9,26,20180926,-48.650482,15972.933903,1.030138e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
10,543124,2018-09-26T06:33:49Z,2018,9,26,20180926,0.863666,16021.584385,1.033275e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
11,543121,2018-09-26T06:21:53Z,2018,9,26,20180926,63.689508,16020.720719,1.033219e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
12,543118,2018-09-26T06:04:38Z,2018,9,26,20180926,-33.748204,15957.031212,1.029112e+08,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
13,543117,2018-09-26T05:54:19Z,2018,9,26,20180926,43.391745,15990.779416,1.029610e+08,6438.77,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1,543116,2018-09-26T05:33:37Z,2018,9,26,20180926,12.627200,14318.248010,9.219197e+07,6438.77,155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4,82
14,543116,2018-09-26T05:33:37Z,2018,9,26,20180926,-10.911333,15947.387671,1.026816e+08,6438.77,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
15,543114,2018-09-26T05:16:34Z,2018,9,26,20180926,-59.277277,15958.299004,1.027519e+08,6438.77,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
16,543112,2018-09-26T05:06:35Z,2018,9,26,20180926,-152.476194,16017.576280,1.031336e+08,6438.77,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
17,543111,2018-09-26T05:03:22Z,2018,9,26,20180926,-25.519247,16170.052474,1.039806e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
18,543110,2018-09-26T04:48:33Z,2018,9,26,20180926,19.305834,16195.571721,1.041447e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
19,543109,2018-09-26T04:40:48Z,2018,9,26,20180926,256.896201,16176.265887,1.040205e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
0,543109,2018-09-26T04:40:48Z,2018,9,26,20180926,0.000005,11250.999534,7.234888e+07,6430.44,3Ai5ocGhKdKT3tgCjarqH8auuVfpZwLgeC,95
20,543108,2018-09-26T04:28:40Z,2018,9,26,20180926,-16.721440,15919.369686,1.023686e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
21,543106,2018-09-26T04:21:02Z,2018,9,26,20180926,13.654504,15936.091126,1.024761e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
22,543105,2018-09-26T04:19:38Z,2018,9,26,20180926,23.274986,15922.436623,1.023883e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
23,543104,2018-09-26T04:04:01Z,2018,9,26,20180926,-21.741631,15899.161636,1.022386e+08,6430.44,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
24,543103,2018-09-26T03:47:42Z,2018,9,26,20180926,-6.167815,15920.903267,1.018631e+08,6398.07,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
25,543102,2018-09-26T03:28:29Z,2018,9,26,20180926,20.000000,15927.071082,1.019026e+08,6398.07,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
0,543102,2018-09-26T03:28:29Z,2018,9,26,20180926,2.688777,32525.067722,2.080978e+08,6398.07,336xGpGweq1wtY4kRTuA4w6d7yDkBU9czU,32
...,...,...,...,...,...,...,...,...,...,...,...,...
1514,541004,2018-09-12T00:02:37Z,2018,9,12,20180912,159.948325,11096.696477,6.987809e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1515,541000,2018-09-11T23:46:43Z,2018,9,11,20180911,28.334510,10936.748152,6.887087e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1516,540999,2018-09-11T23:44:18Z,2018,9,11,20180911,132.826316,10908.413642,6.869244e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1517,540998,2018-09-11T23:30:32Z,2018,9,11,20180911,79.041013,10775.587326,6.785600e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1518,540997,2018-09-11T23:28:46Z,2018,9,11,20180911,-32.086245,10696.546313,6.735827e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1519,540996,2018-09-11T23:20:18Z,2018,9,11,20180911,224.175740,10728.632558,6.756032e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
49,540995,2018-09-11T23:11:36Z,2018,9,11,20180911,12.566973,13711.001323,8.634089e+07,6297.20,155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4,82
1520,540994,2018-09-11T23:10:45Z,2018,9,11,20180911,15.265208,10504.456818,6.614864e+07,6297.20,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1521,540993,2018-09-11T22:58:48Z,2018,9,11,20180911,-10.943770,10489.191609,6.613118e+07,6304.70,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1522,540992,2018-09-11T22:51:44Z,2018,9,11,20180911,63.553815,10500.135379,6.620018e+07,6304.70,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1523,540989,2018-09-11T22:42:02Z,2018,9,11,20180911,-28.646353,10436.581564,6.579949e+07,6304.70,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1524,540988,2018-09-11T22:31:39Z,2018,9,11,20180911,88.534664,10465.227917,6.598010e+07,6304.70,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1525,540987,2018-09-11T22:20:19Z,2018,9,11,20180911,-27.337104,10376.693252,6.542191e+07,6304.70,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
34,540986,2018-09-11T21:52:47Z,2018,9,11,20180911,0.000206,200654.746628,1.267101e+09,6314.83,3D2oetdNuZUqQHPJmcMDDHYoqkyNVsFk9r,2
1526,540986,2018-09-11T21:52:47Z,2018,9,11,20180911,75.340259,10404.030356,6.569973e+07,6314.83,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1527,540985,2018-09-11T21:28:20Z,2018,9,11,20180911,-379.068125,10328.690097,6.522397e+07,6314.83,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1528,540984,2018-09-11T20:46:06Z,2018,9,11,20180911,263.134044,10707.758222,6.717301e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1529,540983,2018-09-11T20:39:31Z,2018,9,11,20180911,-59.296753,10444.624179,6.552229e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1530,540982,2018-09-11T20:33:38Z,2018,9,11,20180911,144.964178,10503.920932,6.589427e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
50,540982,2018-09-11T20:33:38Z,2018,9,11,20180911,12.728730,13698.434350,8.593442e+07,6273.30,155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4,82
4,540982,2018-09-11T20:33:38Z,2018,9,11,20180911,35.000000,20751.871958,1.301828e+08,6273.30,3FiMKffg2kY2Pi2Kebn2HZqN7m6kEcNUMk,63
1531,540981,2018-09-11T20:31:48Z,2018,9,11,20180911,15.800437,10358.956754,6.498487e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1532,540979,2018-09-11T20:17:08Z,2018,9,11,20180911,25.567720,10343.156316,6.488575e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1533,540978,2018-09-11T20:14:41Z,2018,9,11,20180911,-80.494241,10317.588597,6.472536e+07,6273.30,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1534,540977,2018-09-11T19:53:55Z,2018,9,11,20180911,20.000000,10398.082837,6.521471e+07,6271.80,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1535,540976,2018-09-11T19:48:14Z,2018,9,11,20180911,-83.989966,10378.082837,6.508927e+07,6271.80,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1536,540975,2018-09-11T19:05:49Z,2018,9,11,20180911,31.643851,10462.072803,6.561604e+07,6271.80,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1537,540974,2018-09-11T18:50:24Z,2018,9,11,20180911,-57.639741,10430.428952,6.531459e+07,6261.93,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1538,540973,2018-09-11T18:45:21Z,2018,9,11,20180911,208.440744,10488.068693,6.567552e+07,6261.93,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72
1539,540971,2018-09-11T18:26:34Z,2018,9,11,20180911,-118.356535,10279.627948,6.437028e+07,6261.93,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,72

In [5]:
from pd_ela import *

In [6]:
esbulk('btc_top100_index', 't', df_filtered)

not r["errors"]: True

In [13]:
tech_filtered = tech(df_filtered)

In [14]:
tech_filtered

,Time (UTC),timestamp,Amount (BTC),USD price,RSI_6,RSI_9,RSI_15,K_9,D_9
0,2018-09-11T00:00:00Z,20180911,599.059578,6287.447586,NaN,NaN,NaN,NaN,NaN
1,2018-09-12T00:00:00Z,20180912,14325.712414,6292.605969,NaN,NaN,NaN,NaN,NaN
2,2018-09-13T00:00:00Z,20180913,32805.067012,6456.240902,NaN,NaN,NaN,NaN,NaN
3,2018-09-14T00:00:00Z,20180914,1552.553196,6507.983173,NaN,NaN,NaN,NaN,NaN
4,2018-09-15T00:00:00Z,20180915,375.973848,6525.735093,NaN,NaN,NaN,NaN,NaN
5,2018-09-16T00:00:00Z,20180916,-229.295961,6492.672062,NaN,NaN,NaN,NaN,NaN
6,2018-09-17T00:00:00Z,20180917,1667.401599,6383.548182,50.795642,NaN,NaN,NaN,NaN
7,2018-09-18T00:00:00Z,20180918,-1458.061114,6312.434158,48.108123,NaN,NaN,NaN,NaN
8,2018-09-19T00:00:00Z,20180919,-3422.628115,6351.682832,46.261907,NaN,NaN,NaN,NaN
9,2018-09-20T00:00:00Z,20180920,369.593983,6427.819680,50.648920,49.849074,NaN,NaN,NaN
10,2018-09-21T00:00:00Z,20180921,17414.895788,6698.956593,65.736281,59.951385,NaN,NaN,NaN
11,2018-09-22T00:00:00Z,20180922,118.248921,6712.688505,47.903402,48.742565,NaN,NaN,NaN
12,2018-09-23T00:00:00Z,20180923,-163.934088,6710.060614,47.650337,48.575878,NaN,30.049864,27.012700
13,2018-09-24T00:00:00Z,20180924,1698.167323,6639.323362,49.752351,49.849082,NaN,19.068751,25.814955
14,2018-09-25T00:00:00Z,20180925,7310.625833,6418.319023,56.124358,53.733289,NaN,30.574240,26.564285
15,2018-09-26T00:00:00Z,20180926,-98.849713,6426.966744,46.735316,48.190003,49.722009,30.678354,26.773781

In [17]:
es = Elasticsearch(['35.194.152.180'], timeout=30)

In [46]:
result_dict = es.search(index="btc_top100_index", body={
    "query": {"match_all": {}}, 
    "size":1000000})

In [52]:
df_ela = pd.DataFrame(list(map(lambda x:x['_source'], 
                               result_dict['hits']['hits']))).sort_values(by='Block', ascending=False)

In [63]:
df_tech = tech(df_ela)

In [65]:
df_ela.head()

,Amount (BTC),Balance (BTC),Balance (USD),Block,Time (UTC),USD price,address,date,month,rank,timestamp,year
48652,-18.480788,15853.216217,102241661.0,543139,2018-09-26T08:04:14Z,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,26,9,72,20180926,2018
60812,-27.986459,15871.697006,102360848.0,543138,2018-09-26T07:59:43Z,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,26,9,72,20180926,2018
24287,58.122380,15899.683465,102541340.0,543137,2018-09-26T07:48:32Z,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,26,9,72,20180926,2018
12026,-64.064459,15841.561085,102166494.0,543136,2018-09-26T07:44:53Z,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,26,9,72,20180926,2018
60813,-32.706714,15905.625544,102579663.0,543135,2018-09-26T07:29:38Z,6449.27,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,26,9,72,20180926,2018

In [66]:
df_tech

,Time (UTC),timestamp,Amount (BTC),USD price,RSI_6,RSI_9,RSI_15,K_9,D_9
1334,2018-09-26T00:00:00Z,20180926,-98.849713,6426.966744,45.623178,47.262099,48.411361,30.678354,26.773781
1333,2018-09-25T00:00:00Z,20180925,7310.625833,6418.319023,55.776567,53.567152,52.073667,30.574240,26.564285
1332,2018-09-24T00:00:00Z,20180924,1698.167323,6639.323362,48.548775,48.984800,49.365626,19.068751,25.814955
1331,2018-09-23T00:00:00Z,20180923,-163.934088,6710.060614,46.113769,47.455516,48.463890,30.049864,27.236345
1330,2018-09-22T00:00:00Z,20180922,118.248921,6712.688505,46.391028,47.647917,48.586270,28.326250,19.854336
1329,2018-09-21T00:00:00Z,20180921,17414.895788,6698.956593,66.953614,61.157775,56.790489,23.332919,15.755886
1328,2018-09-20T00:00:00Z,20180920,369.593983,6427.819680,48.040007,48.322758,48.845635,7.903837,16.529388
1327,2018-09-19T00:00:00Z,20180919,-3422.628115,6351.682832,41.872020,44.709675,46.815050,16.030901,24.769899
1326,2018-09-18T00:00:00Z,20180918,-1458.061114,6312.434158,44.133730,46.197025,47.731166,25.653425,30.274688
1325,2018-09-17T00:00:00Z,20180917,1667.401599,6383.548182,47.537966,48.477619,49.159591,32.625370,40.251928
1324,2018-09-16T00:00:00Z,20180916,-229.295961,6492.672062,45.408470,47.068061,48.282975,32.545269,55.444431
1323,2018-09-15T00:00:00Z,20180915,375.973848,6525.735093,45.903979,47.436186,48.532215,55.585146,71.792473
1322,2018-09-14T00:00:00Z,20180914,1552.553196,6507.983173,46.730021,48.086028,48.991043,78.202877,73.576161
1321,2018-09-13T00:00:00Z,20180913,32805.067012,6456.240902,77.666127,71.075494,63.988706,81.589397,56.709494
1320,2018-09-12T00:00:00Z,20180912,14325.712414,6292.605969,66.853620,61.368019,56.667974,60.936209,34.789446
1319,2018-09-11T00:00:00Z,20180911,-4166.796978,6328.708642,44.410530,44.926629,46.512104,27.602876,15.527078
1318,2018-09-10T00:00:00Z,20180910,-5792.998734,6309.209554,41.508256,43.031438,45.463009,15.829252,12.212261
1317,2018-09-09T00:00:00Z,20180909,-14987.958215,6313.258417,22.424453,31.117910,39.166269,3.149107,16.981273
1316,2018-09-08T00:00:00Z,20180908,665.238751,6388.889752,41.747268,45.524007,47.965472,17.658425,29.529316
1315,2018-09-07T00:00:00Z,20180907,-223.476125,6458.297517,39.271445,44.220795,47.338540,30.136288,36.276428
1314,2018-09-06T00:00:00Z,20180906,3808.218779,6441.667489,46.789298,48.942138,49.883293,40.793234,38.080124
1313,2018-09-05T00:00:00Z,20180905,9183.582098,7052.061667,59.429645,56.032093,53.459412,37.899761,34.813198
1312,2018-09-04T00:00:00Z,20180904,6156.264073,7335.415169,53.538889,52.594222,51.636954,35.547376,31.226277
1311,2018-09-03T00:00:00Z,20180903,6740.344963,7268.853060,54.818636,53.309076,52.003654,30.992457,27.510275
1310,2018-09-02T00:00:00Z,20180902,6405.725992,7254.640625,54.297087,52.983650,51.820707,27.138997,24.380403
1309,2018-09-01T00:00:00Z,20180901,1555.876495,7118.185593,46.892755,48.345390,49.201420,24.399370,31.058667
1308,2018-08-31T00:00:00Z,20180831,2678.556729,7002.653386,48.405563,49.347102,49.786205,21.602842,45.418226
1307,2018-08-30T00:00:00Z,20180830,4553.279413,6946.029350,50.680771,50.912932,50.725855,47.173789,63.309141
1306,2018-08-29T00:00:00Z,20180829,-335.045056,7067.916230,45.070653,47.016239,48.353627,67.478048,61.565295
1305,2018-08-28T00:00:00Z,20180828,19968.799833,7010.974298,74.340245,66.509121,59.448843,75.275586,47.515908
...,...,...,...,...,...,...,...,...,...
29,2015-02-03T00:00:00Z,20150203,109.772978,235.472500,44.647275,46.414225,48.111930,0.384965,25.913014
28,2015-02-02T00:00:00Z,20150202,459.226712,230.047778,45.090131,46.783220,48.410851,33.718299,45.973798
27,2015-02-01T00:00:00Z,20150201,163.075551,216.545000,44.702772,46.462595,48.156073,43.635779,45.299790
26,2015-01-31T00:00:00Z,20150131,25806.179715,227.476667,91.048901,86.638242,80.141898,60.567315,40.781129
25,2015-01-30T00:00:00Z,20150130,1130.271847,231.450000,46.915117,48.683356,50.779446,31.696276,34.427640
24,2015-01-29T00:00:00Z,20150129,1664.508839,234.871250,51.495985,51.498544,52.343364,30.079795,43.685377
23,2015-01-28T00:00:00Z,20150128,659.615314,250.515263,42.730804,46.307245,49.619329,41.506848,50.586619
22,2015-01-27T00:00:00Z,20150127,1000.000000,263.250000,45.027646,47.849279,50.532488,59.469487,51.826223
21,2015-01-26T00:00:00Z,20150126,2585.412539,279.186667,56.898499,55.501136,54.926782,50.783523,43.201666
20,2015-01-25T00:00:00Z,20150125,2107.220532,247.246000,53.839707,53.507807,53.795690,45.225660,41.329177
19,2015-01-23T00:00:00Z,20150123,300.000000,226.520000,40.553086,45.272229,49.308666,33.595814,35.071902
18,2015-01-22T00:00:00Z,20150122,2986.326089,232.118000,63.023802,59.106004,56.986368,45.166057,29.871533
17,2015-01-21T00:00:00Z,20150121,1700.000000,216.671429,52.527193,52.992085,53.769242,26.453836,18.921586
16,2015-01-20T00:00:00Z,20150120,1573.618927,210.447500,51.397568,52.370190,53.449978,17.994704,17.661522
15,2015-01-19T00:00:00Z,20150119,700.000000,213.022000,43.677311,48.155807,51.279229,12.316218,27.933833
14,2015-01-18T00:00:00Z,20150118,543.376429,203.812500,42.308191,47.414317,NaN,22.673645,46.054675
13,2015-01-17T00:00:00Z,20150117,1031.666137,199.517500,45.160217,49.371115,NaN,48.811636,59.866252
12,2015-01-16T00:00:00Z,20150116,2136.876468,214.086000,51.738787,53.841764,NaN,66.678745,55.877589
11,2015-01-15T00:00:00Z,20150115,4114.826551,197.377857,66.098940,62.902986,NaN,NaN,NaN
10,2015-01-14T00:00:00Z,20150114,3450.000000,192.825714,63.241249,60.938938,NaN,NaN,NaN
9,2015-01-13T00:00:00Z,20150113,1742.267937,236.608571,55.148201,55.567752,NaN,NaN,NaN
8,2015-01-12T00:00:00Z,20150112,222.598089,268.430000,46.396492,NaN,NaN,NaN,NaN
7,2015-01-11T00:00:00Z,20150111,600.000000,273.156667,48.348912,NaN,NaN,NaN,NaN
6,2015-01-10T00:00:00Z,20150110,4800.000000,281.093333,79.294081,NaN,NaN,NaN,NaN
5,2015-01-09T00:00:00Z,20150109,300.000000,284.535000,NaN,NaN,NaN,NaN,NaN
4,2015-01-08T00:00:00Z,20150108,100.000000,286.555000,NaN,NaN,NaN,NaN,NaN
3,2015-01-07T00:00:00Z,20150107,1594.032581,285.063333,NaN,NaN,NaN,NaN,NaN
2,2015-01-06T00:00:00Z,20150106,550.000000,277.801250,NaN,NaN,NaN,NaN,NaN
1,2015-01-05T00:00:00Z,20150105,50.000000,269.970000,NaN,NaN,NaN,NaN,NaN
0,2015-01-04T00:00:00Z,20150104,186.460273,282.470000,NaN,NaN,NaN,NaN,NaN