In [129]:
import pymongo
myclient = pymongo.MongoClient("mongodb://localhost:27017/")

In [131]:
mydb = myclient["stock"]
mydb.list_collection_names()
close = mydb['close']

In [136]:
mydb.list_collection_names()

['close', 'low', 'open', 'high', 'volume', 'test_close']

In [137]:
close = mydb['close']

In [15]:
mydict = { "name": "John", "address": "Highway 37" }
x = mycol.insert_one(mydict)

In [16]:
print(myclient.list_database_names())

['admin', 'config', 'local', 'mydatabase', 'test']

In [17]:
print(mydb.list_collection_names())

['customers']

In [18]:
print(x.inserted_id)

5bb5c7c8d8e03c1a13e5a244

In [19]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(mylist)

In [22]:
print(x.inserted_ids)

[ObjectId('5bb5caa6d8e03c1a13e5a245'), ObjectId('5bb5caa6d8e03c1a13e5a246'), ObjectId('5bb5caa6d8e03c1a13e5a247'), ObjectId('5bb5caa6d8e03c1a13e5a248'), ObjectId('5bb5caa6d8e03c1a13e5a249'), ObjectId('5bb5caa6d8e03c1a13e5a24a'), ObjectId('5bb5caa6d8e03c1a13e5a24b'), ObjectId('5bb5caa6d8e03c1a13e5a24c'), ObjectId('5bb5caa6d8e03c1a13e5a24d'), ObjectId('5bb5caa6d8e03c1a13e5a24e'), ObjectId('5bb5caa6d8e03c1a13e5a24f'), ObjectId('5bb5caa6d8e03c1a13e5a250')]

In [23]:
numlist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]
x = mycol.insert_many(numlist)

In [24]:
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [25]:
mycol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'mydatabase'), 'customers')

In [28]:
x = mycol.find_one()
x

{'_id': ObjectId('5bb5c7c8d8e03c1a13e5a244'),
 'name': 'John',
 'address': 'Highway 37'}

In [63]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5bb5c7c8d8e03c1a13e5a244'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a245'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a246'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a247'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a248'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a249'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a250'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [68]:
t = mycol.find()
while True:
    try:
        print(next(t))
    except StopIteration:
        print('StopIteration')
        break

{'_id': ObjectId('5bb5c7c8d8e03c1a13e5a244'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a245'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a246'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a247'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a248'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a249'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a250'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
StopIteration

In [73]:
for x in mycol.find({}, {"_id":0, "name":1}):
    print(x)

{'name': 'John'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}
{'name': 'John'}
{'name': 'Peter'}
{'name': 'Amy'}
{'name': 'Hannah'}
{'name': 'Michael'}
{'name': 'Sandy'}
{'name': 'Betty'}
{'name': 'Richard'}
{'name': 'Susan'}
{'name': 'Vicky'}
{'name': 'Ben'}
{'name': 'William'}
{'name': 'Chuck'}
{'name': 'Viola'}

In [74]:
myquery = { "address": "Park Lane 38" }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [75]:
myquery = {"address": {"$gt": "S"}}
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': ObjectId('5bb5caa6d8e03c1a13e5a247'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a250'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [77]:
mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': ObjectId('5bb5caa6d8e03c1a13e5a245'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24d'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a249'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24f'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a246'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('5bb5c7c8d8e03c1a13e5a244'), 'name': 'John', 'address': 'Highway 37'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a247'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24a'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a248'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24b'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24c'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a250'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('5bb5caa6d8e03c1a13e5a24e'), 'name': 'William', 'address': 'Central st 954'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}

In [94]:
import pandas as pd

In [95]:
df = pd.read_csv('f100.csv')

In [96]:
df.head()

,Block,Time (UTC),year,month,date,timestamp,Amount (BTC),USD price,address,rank
0,538049,2018-08-23T03:34:37Z,2018,8,23,20180823,-49.102777,6411.63,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,70
1,538048,2018-08-23T03:24:18Z,2018,8,23,20180823,-11.642328,6411.63,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,70
2,538047,2018-08-23T03:13:43Z,2018,8,23,20180823,-64.844140,6411.63,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,70
3,538046,2018-08-23T02:52:07Z,2018,8,23,20180823,49.090497,6411.63,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,70
4,538045,2018-08-23T02:39:42Z,2018,8,23,20180823,-4.777281,6411.63,1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s,70

In [102]:
import json

In [107]:
def rec_to_actions(df):
    for record in df.to_dict(orient="records"):
        yield record

In [108]:
t = rec_to_actions(df.head())

In [109]:
next(t)

{'Block': 538049,
 'Time (UTC)': '2018-08-23T03:34:37Z',
 'year': 2018,
 'month': 8,
 'date': 23,
 'timestamp': 20180823,
 'Amount (BTC)': -49.10277715,
 'USD price': 6411.63,
 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s',
 'rank': 70}

In [113]:
mydb = myclient["cryptocurrency"]
mycol = mydb["btc_top100"]
tes = rec_to_actions(df.head())
while True:
    try:
        mycol.insert_one(next(tes))
    except StopIteration:
        print('StopIteration')
        break

StopIteration

In [118]:
for x in mycol.find():
    print(x)

{'_id': ObjectId('5bb5eb3dd8e03c1a13e5a252'), 'Block': 538048, 'Time (UTC)': '2018-08-23T03:24:18Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -11.64232808, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}
{'_id': ObjectId('5bb5eb3dd8e03c1a13e5a253'), 'Block': 538047, 'Time (UTC)': '2018-08-23T03:13:43Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -64.8441401, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}
{'_id': ObjectId('5bb5eb3dd8e03c1a13e5a254'), 'Block': 538046, 'Time (UTC)': '2018-08-23T02:52:07Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 49.09049688, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}
{'_id': ObjectId('5bb5eb3dd8e03c1a13e5a255'), 'Block': 538045, 'Time (UTC)': '2018-08-23T02:39:42Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -4.77728105, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}

In [117]:
myquery = {'Block': 538049}
mycol.delete_one(myquery)

In [119]:
myquery = {'year': 2018}
x = mycol.delete_many(myquery)
print(x.deleted_count, " documents deleted.")

4  documents deleted.

In [120]:
def mongobulk(df, database, collection, Host='localhost:27017'):
    myclient = pymongo.MongoClient("mongodb://{}".format(Host))
    mydb = myclient[database]
    mycol = mydb[collection]
    def pandas_generator(df):
        for record in df.to_dict(orient="records"):
            yield record
    g = pandas_generator(df)
    while True:
        try:
            mycol.insert_one(next(g))
        except StopIteration:
            print('StopIteration')
            break

In [121]:
mongobulk(df, 'cryptocurrency', 'btc_top100')

StopIteration

In [126]:
t = mycol.find()

In [127]:
len(list(t))

57484

In [139]:
mydb = myclient["stock"]
a = mydb.list_collection_names()
close = mydb['close']

In [144]:
test = close.find_one()

In [153]:
import datetime

In [146]:
test['Time'].year

2018

In [156]:
close.find_one(sort=[("Time", 1)])['Time']

datetime.datetime(2018, 9, 4, 0, 0)

In [157]:
for i in ['close', 'open', 'high', 'low', 'volume']:
    mycol = mydb[i]
    x = mycol.delete_many({})
    print(x.deleted_count, "个文档已删除")

60 个文档已删除
60 个文档已删除
60 个文档已删除
60 个文档已删除
60 个文档已删除