In [5]:
import sqlalchemy
from sqlalchemy import create_engine,Table,Column,Integer,String,MetaData,ForeignKey

In [22]:
sqlalchemy.__version__

'1.2.11'

In [8]:
engine=create_engine("mysql+pymysql://root:jack0705@localhost:3306/test",echo=True)

In [9]:
type(engine)

sqlalchemy.engine.base.Engine

In [10]:
metadata = MetaData(engine)

In [13]:
user = Table('user', metadata, 
            Column('id', Integer, primary_key = True), 
            Column('name', String(20)), 
            Column('fullname', String(40)))

In [15]:
metadata.create_all()

2018-08-29 14:03:57,905 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2018-08-29 14:03:57,911 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:57,969 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2018-08-29 14:03:57,970 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:57,973 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8mb4' and `Collation` = 'utf8mb4_bin'
2018-08-29 14:03:57,973 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,008 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1
2018-08-29 14:03:58,009 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,018 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1
2018-08-29 14:03:58,021 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,030 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8mb4) COLLATE utf8mb4_bin AS anon_1
2018-08-29 14:03:58,031 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,045 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`
2018-08-29 14:03:58,047 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,050 INFO sqlalchemy.engine.base.Engine ROLLBACK
2018-08-29 14:03:58,054 INFO sqlalchemy.engine.base.Engine
CREATE TABLE user (
	id INTEGER NOT NULL AUTO_INCREMENT,
	name VARCHAR(20),
	fullname VARCHAR(40),
	PRIMARY KEY (id)
)


2018-08-29 14:03:58,055 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 14:03:58,158 INFO sqlalchemy.engine.base.Engine COMMIT

# ＯＲＭ

In [24]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import Column, Integer, String

In [26]:
help(sqlalchemy.ext.declarative)

Help on package sqlalchemy.ext.declarative in sqlalchemy.ext:

NAME
    sqlalchemy.ext.declarative

DESCRIPTION
    # ext/declarative/__init__.py
    # Copyright (C) 2005-2018 the SQLAlchemy authors and contributors
    # <see AUTHORS file>
    #
    # This module is part of SQLAlchemy and is released under
    # the MIT License: http://www.opensource.org/licenses/mit-license.php

PACKAGE CONTENTS
    api
    base
    clsregistry

CLASSES
    builtins.object
        sqlalchemy.ext.declarative.api.ConcreteBase
            sqlalchemy.ext.declarative.api.AbstractConcreteBase
        sqlalchemy.ext.declarative.api.DeferredReflection
    builtins.property(builtins.object)
        sqlalchemy.ext.declarative.api.declared_attr(sqlalchemy.orm.base._MappedAttribute, builtins.property)
    builtins.type(builtins.object)
        sqlalchemy.ext.declarative.api.DeclarativeMeta
    sqlalchemy.orm.base._MappedAttribute(builtins.object)
        sqlalchemy.ext.declarative.api.declared_attr(sqlalchemy.orm.base._MappedAttribute, builtins.property)

    class AbstractConcreteBase(ConcreteBase)
     |  A helper class for 'concrete' declarative mappings.
     |
     |  :class:`.AbstractConcreteBase` will use the :func:`.polymorphic_union`
     |  function automatically, against all tables mapped as a subclass
     |  to this class.   The function is called via the
     |  ``__declare_last__()`` function, which is essentially
     |  a hook for the :meth:`.after_configured` event.
     |
     |  :class:`.AbstractConcreteBase` does produce a mapped class
     |  for the base class, however it is not persisted to any table; it
     |  is instead mapped directly to the "polymorphic" selectable directly
     |  and is only used for selecting.  Compare to :class:`.ConcreteBase`,
     |  which does create a persisted table for the base class.
     |
     |  Example::
     |
     |      from sqlalchemy.ext.declarative import AbstractConcreteBase
     |
     |      class Employee(AbstractConcreteBase, Base):
     |          pass
     |
     |      class Manager(Employee):
     |          __tablename__ = 'manager'
     |          employee_id = Column(Integer, primary_key=True)
     |          name = Column(String(50))
     |          manager_data = Column(String(40))
     |
     |          __mapper_args__ = {
     |              'polymorphic_identity':'manager',
     |              'concrete':True}
     |
     |  The abstract base class is handled by declarative in a special way;
     |  at class configuration time, it behaves like a declarative mixin
     |  or an ``__abstract__`` base class.   Once classes are configured
     |  and mappings are produced, it then gets mapped itself, but
     |  after all of its decscendants.  This is a very unique system of mapping
     |  not found in any other SQLAlchemy system.
     |
     |  Using this approach, we can specify columns and properties
     |  that will take place on mapped subclasses, in the way that
     |  we normally do as in :ref:`declarative_mixins`::
     |
     |      class Company(Base):
     |          __tablename__ = 'company'
     |          id = Column(Integer, primary_key=True)
     |
     |      class Employee(AbstractConcreteBase, Base):
     |          employee_id = Column(Integer, primary_key=True)
     |
     |          @declared_attr
     |          def company_id(cls):
     |              return Column(ForeignKey('company.id'))
     |
     |          @declared_attr
     |          def company(cls):
     |              return relationship("Company")
     |
     |      class Manager(Employee):
     |          __tablename__ = 'manager'
     |
     |          name = Column(String(50))
     |          manager_data = Column(String(40))
     |
     |          __mapper_args__ = {
     |              'polymorphic_identity':'manager',
     |              'concrete':True}
     |
     |  When we make use of our mappings however, both ``Manager`` and
     |  ``Employee`` will have an independently usable ``.company`` attribute::
     |
     |      session.query(Employee).filter(Employee.company.has(id=5))
     |
     |  .. versionchanged:: 1.0.0 - The mechanics of :class:`.AbstractConcreteBase`
     |     have been reworked to support relationships established directly
     |     on the abstract base, without any special configurational steps.
     |
     |  .. seealso::
     |
     |      :class:`.ConcreteBase`
     |
     |      :ref:`concrete_inheritance`
     |
     |      :ref:`inheritance_concrete_helpers`
     |
     |  Method resolution order:
     |      AbstractConcreteBase
     |      ConcreteBase
     |      builtins.object
     |
     |  Class methods defined here:
     |
     |  __declare_first__() from builtins.type
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  __no_table__ = True
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from ConcreteBase:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class ConcreteBase(builtins.object)
     |  A helper class for 'concrete' declarative mappings.
     |
     |  :class:`.ConcreteBase` will use the :func:`.polymorphic_union`
     |  function automatically, against all tables mapped as a subclass
     |  to this class.   The function is called via the
     |  ``__declare_last__()`` function, which is essentially
     |  a hook for the :meth:`.after_configured` event.
     |
     |  :class:`.ConcreteBase` produces a mapped
     |  table for the class itself.  Compare to :class:`.AbstractConcreteBase`,
     |  which does not.
     |
     |  Example::
     |
     |      from sqlalchemy.ext.declarative import ConcreteBase
     |
     |      class Employee(ConcreteBase, Base):
     |          __tablename__ = 'employee'
     |          employee_id = Column(Integer, primary_key=True)
     |          name = Column(String(50))
     |          __mapper_args__ = {
     |                          'polymorphic_identity':'employee',
     |                          'concrete':True}
     |
     |      class Manager(Employee):
     |          __tablename__ = 'manager'
     |          employee_id = Column(Integer, primary_key=True)
     |          name = Column(String(50))
     |          manager_data = Column(String(40))
     |          __mapper_args__ = {
     |                          'polymorphic_identity':'manager',
     |                          'concrete':True}
     |
     |  .. seealso::
     |
     |      :class:`.AbstractConcreteBase`
     |
     |      :ref:`concrete_inheritance`
     |
     |      :ref:`inheritance_concrete_helpers`
     |
     |  Class methods defined here:
     |
     |  __declare_first__() from builtins.type
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class DeclarativeMeta(builtins.type)
     |  type(object_or_name, bases, dict)
     |  type(object) -> the object's type
     |  type(name, bases, dict) -> a new type
     |
     |  Method resolution order:
     |      DeclarativeMeta
     |      builtins.type
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(cls, classname, bases, dict_)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __setattr__(cls, key, value)
     |      Implement setattr(self, name, value).
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.type:
     |
     |  __call__(self, /, *args, **kwargs)
     |      Call self as a function.
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __dir__(...)
     |      __dir__() -> list
     |      specialized __dir__ implementation for types
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __instancecheck__(...)
     |      __instancecheck__() -> bool
     |      check if an object is an instance
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __prepare__(...) from builtins.type
     |      __prepare__() -> dict
     |      used to create the namespace for the class statement
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __sizeof__(...)
     |      __sizeof__() -> int
     |      return memory consumption of the type object
     |
     |  __subclasscheck__(...)
     |      __subclasscheck__() -> bool
     |      check if a class is a subclass
     |
     |  __subclasses__(...)
     |      __subclasses__() -> list of immediate subclasses
     |
     |  mro(...)
     |      mro() -> list
     |      return a type's method resolution order
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.type:
     |
     |  __abstractmethods__
     |
     |  __dict__
     |
     |  __text_signature__
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from builtins.type:
     |
     |  __base__ = <class 'type'>
     |      type(object_or_name, bases, dict)
     |      type(object) -> the object's type
     |      type(name, bases, dict) -> a new type
     |
     |  __bases__ = (<class 'type'>,)
     |
     |  __basicsize__ = 864
     |
     |  __dictoffset__ = 264
     |
     |  __flags__ = 2148292097
     |
     |  __itemsize__ = 40
     |
     |  __mro__ = (<class 'sqlalchemy.ext.declarative.api.DeclarativeMeta'>, <...
     |
     |  __weakrefoffset__ = 368

    class DeferredReflection(builtins.object)
     |  A helper class for construction of mappings based on
     |  a deferred reflection step.
     |
     |  Normally, declarative can be used with reflection by
     |  setting a :class:`.Table` object using autoload=True
     |  as the ``__table__`` attribute on a declarative class.
     |  The caveat is that the :class:`.Table` must be fully
     |  reflected, or at the very least have a primary key column,
     |  at the point at which a normal declarative mapping is
     |  constructed, meaning the :class:`.Engine` must be available
     |  at class declaration time.
     |
     |  The :class:`.DeferredReflection` mixin moves the construction
     |  of mappers to be at a later point, after a specific
     |  method is called which first reflects all :class:`.Table`
     |  objects created so far.   Classes can define it as such::
     |
     |      from sqlalchemy.ext.declarative import declarative_base
     |      from sqlalchemy.ext.declarative import DeferredReflection
     |      Base = declarative_base()
     |
     |      class MyClass(DeferredReflection, Base):
     |          __tablename__ = 'mytable'
     |
     |  Above, ``MyClass`` is not yet mapped.   After a series of
     |  classes have been defined in the above fashion, all tables
     |  can be reflected and mappings created using
     |  :meth:`.prepare`::
     |
     |      engine = create_engine("someengine://...")
     |      DeferredReflection.prepare(engine)
     |
     |  The :class:`.DeferredReflection` mixin can be applied to individual
     |  classes, used as the base for the declarative base itself,
     |  or used in a custom abstract class.   Using an abstract base
     |  allows that only a subset of classes to be prepared for a
     |  particular prepare step, which is necessary for applications
     |  that use more than one engine.  For example, if an application
     |  has two engines, you might use two bases, and prepare each
     |  separately, e.g.::
     |
     |      class ReflectedOne(DeferredReflection, Base):
     |          __abstract__ = True
     |
     |      class ReflectedTwo(DeferredReflection, Base):
     |          __abstract__ = True
     |
     |      class MyClass(ReflectedOne):
     |          __tablename__ = 'mytable'
     |
     |      class MyOtherClass(ReflectedOne):
     |          __tablename__ = 'myothertable'
     |
     |      class YetAnotherClass(ReflectedTwo):
     |          __tablename__ = 'yetanothertable'
     |
     |      # ... etc.
     |
     |  Above, the class hierarchies for ``ReflectedOne`` and
     |  ``ReflectedTwo`` can be configured separately::
     |
     |      ReflectedOne.prepare(engine_one)
     |      ReflectedTwo.prepare(engine_two)
     |
     |  .. versionadded:: 0.8
     |
     |  Class methods defined here:
     |
     |  prepare(engine) from builtins.type
     |      Reflect all :class:`.Table` objects for all current
     |      :class:`.DeferredReflection` subclasses
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)

    class declared_attr(sqlalchemy.orm.base._MappedAttribute, builtins.property)
     |  Mark a class-level method as representing the definition of
     |  a mapped property or special declarative member name.
     |
     |  @declared_attr turns the attribute into a scalar-like
     |  property that can be invoked from the uninstantiated class.
     |  Declarative treats attributes specifically marked with
     |  @declared_attr as returning a construct that is specific
     |  to mapping or declarative table configuration.  The name
     |  of the attribute is that of what the non-dynamic version
     |  of the attribute would be.
     |
     |  @declared_attr is more often than not applicable to mixins,
     |  to define relationships that are to be applied to different
     |  implementors of the class::
     |
     |      class ProvidesUser(object):
     |          "A mixin that adds a 'user' relationship to classes."
     |
     |          @declared_attr
     |          def user(self):
     |              return relationship("User")
     |
     |  It also can be applied to mapped classes, such as to provide
     |  a "polymorphic" scheme for inheritance::
     |
     |      class Employee(Base):
     |          id = Column(Integer, primary_key=True)
     |          type = Column(String(50), nullable=False)
     |
     |          @declared_attr
     |          def __tablename__(cls):
     |              return cls.__name__.lower()
     |
     |          @declared_attr
     |          def __mapper_args__(cls):
     |              if cls.__name__ == 'Employee':
     |                  return {
     |                          "polymorphic_on":cls.type,
     |                          "polymorphic_identity":"Employee"
     |                  }
     |              else:
     |                  return {"polymorphic_identity":cls.__name__}
     |
     |  .. versionchanged:: 0.8 :class:`.declared_attr` can be used with
     |     non-ORM or extension attributes, such as user-defined attributes
     |     or :func:`.association_proxy` objects, which will be assigned
     |     to the class at class construction time.
     |
     |  Method resolution order:
     |      declared_attr
     |      sqlalchemy.orm.base._MappedAttribute
     |      builtins.property
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __get__(desc, self, cls)
     |      Return an attribute of instance, which is of type owner.
     |
     |  __init__(self, fget, cascading=False)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  cascading
     |      Mark a :class:`.declared_attr` as cascading.
     |
     |      This is a special-use modifier which indicates that a column
     |      or MapperProperty-based declared attribute should be configured
     |      distinctly per mapped subclass, within a mapped-inheritance scenario.
     |
     |      .. warning::
     |
     |          The :attr:`.declared_attr.cascading` modifier has several
     |          limitations:
     |
     |          * The flag **only** applies to the use of :class:`.declared_attr`
     |            on declarative mixin classes and ``__abstract__`` classes; it
     |            currently has no effect when used on a mapped class directly.
     |
     |          * The flag **only** applies to normally-named attributes, e.g.
     |            not any special underscore attributes such as ``__tablename__``.
     |            On these attributes it has **no** effect.
     |
     |          * The flag currently **does not allow further overrides** down
     |            the class hierarchy; if a subclass tries to override the
     |            attribute, a warning is emitted and the overridden attribute
     |            is skipped.  This is a limitation that it is hoped will be
     |            resolved at some point.
     |
     |      Below, both MyClass as well as MySubClass will have a distinct
     |      ``id`` Column object established::
     |
     |          class HasIdMixin(object):
     |              @declared_attr.cascading
     |              def id(cls):
     |                  if has_inherited_table(cls):
     |                      return Column(ForeignKey('myclass.id'), primary_key=True)
     |                  else:
     |                      return Column(Integer, primary_key=True)
     |
     |          class MyClass(HasIdMixin, Base):
     |              __tablename__ = 'myclass'
     |              # ...
     |
     |          class MySubClass(MyClass):
     |              ""
     |              # ...
     |
     |      The behavior of the above configuration is that ``MySubClass``
     |      will refer to both its own ``id`` column as well as that of
     |      ``MyClass`` underneath the attribute named ``some_id``.
     |
     |      .. seealso::
     |
     |          :ref:`declarative_inheritance`
     |
     |          :ref:`mixin_inheritance_columns`
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.property:
     |
     |  __delete__(self, instance, /)
     |      Delete an attribute of instance.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __set__(self, instance, value, /)
     |      Set an attribute of instance to value.
     |
     |  deleter(...)
     |      Descriptor to change the deleter on a property.
     |
     |  getter(...)
     |      Descriptor to change the getter on a property.
     |
     |  setter(...)
     |      Descriptor to change the setter on a property.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.property:
     |
     |  __isabstractmethod__
     |
     |  fdel
     |
     |  fget
     |
     |  fset

FUNCTIONS
    as_declarative(**kw)
        Class decorator for :func:`.declarative_base`.

        Provides a syntactical shortcut to the ``cls`` argument
        sent to :func:`.declarative_base`, allowing the base class

In [32]:
User

__main__.User

In [71]:
class User(Base):
    __tablename__ = 'orm_user'
    
    user_id = Column(Integer, primary_key = True)
    name = Column(String(20))
    password = Column(String(40))
    
#     Column('id', Integer, primary_key = True), 
#     Column('name', String(20)), 
#     Column('fullname', String(40)))

    def __init__(self, user_id, name, password):
        self.user_id = user_id
        self.name = name
        self.password = password
        
    def __repr__(self):
        return "<User(user_id={}, name={}, password={}>".format(self.user_id, self.name, self.password)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sqlalchemy/ext/declarative/clsregistry.py:120: SAWarning: This declarative base already contains a class with the same class name and module name as __main__.User, and will be replaced in the string-lookup table.
  item.__name__

In [50]:
User.__table__

Table('orm_user', MetaData(bind=None), Column('user_id', Integer(), table=<orm_user>, primary_key=True, nullable=False), Column('name', String(length=20), table=<orm_user>), Column('password', String(length=40), table=<orm_user>), schema=None)

In [72]:
Base.metadata.create_all(engine)

2018-08-29 17:02:24,234 INFO sqlalchemy.engine.base.Engine DESCRIBE `orm_user`
2018-08-29 17:02:24,236 INFO sqlalchemy.engine.base.Engine {}

In [73]:
ted_user = User(1, 'Ted', 'tedspassword')

In [74]:
print(ted_user.user_id)
print(ted_user.name)
print(ted_user.password)

1
Ted
tedspassword

# Create a session

In [75]:
from sqlalchemy.orm import sessionmaker
Session = sessionmaker(bind=engine)
session = Session()

In [76]:
session.add(ted_user)

In [77]:
session.add_all([
    User(2, 'Wendy', 'foo'), 
    User(3, 'Mary', 'xxg527'), 
    User(4, 'K', 'blah')
])

In [78]:
session.dirty

IdentitySet([])

In [79]:
ted_user.password = 'f8s7ccs'

In [80]:
session.dirty

IdentitySet([])

In [81]:
session.new

IdentitySet([<User(user_id=1, name=Ted, password=f8s7ccs>, <User(user_id=2, name=Wendy, password=foo>, <User(user_id=3, name=Mary, password=xxg527>, <User(user_id=4, name=K, password=blah>])

In [82]:
session.commit()

2018-08-29 17:03:28,878 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-29 17:03:28,898 INFO sqlalchemy.engine.base.Engine INSERT INTO orm_user (user_id, name, password) VALUES (%(user_id)s, %(name)s, %(password)s)
2018-08-29 17:03:28,899 INFO sqlalchemy.engine.base.Engine ({'user_id': 1, 'name': 'Ted', 'password': 'f8s7ccs'}, {'user_id': 2, 'name': 'Wendy', 'password': 'foo'}, {'user_id': 3, 'name': 'Mary', 'password': 'xxg527'}, {'user_id': 4, 'name': 'K', 'password': 'blah'})
2018-08-29 17:03:28,931 INFO sqlalchemy.engine.base.Engine COMMIT

In [83]:
ted_user.name = 'Edwardo'

In [84]:
fake_user = User(5, 'fakeuser', '12345')
session.add(fake_user)

# Query

In [86]:
session.query(User).filter(User.name.in_(['Edwardo', 'fakeuser'])).all()

2018-08-29 17:10:23,019 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-29 17:10:23,028 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.password AS orm_user_password
FROM orm_user
WHERE orm_user.user_id = %(param_1)s
2018-08-29 17:10:23,029 INFO sqlalchemy.engine.base.Engine {'param_1': 1}
2018-08-29 17:10:23,038 INFO sqlalchemy.engine.base.Engine UPDATE orm_user SET name=%(name)s WHERE orm_user.user_id = %(orm_user_user_id)s
2018-08-29 17:10:23,039 INFO sqlalchemy.engine.base.Engine {'name': 'Edwardo', 'orm_user_user_id': 1}
2018-08-29 17:10:23,046 INFO sqlalchemy.engine.base.Engine INSERT INTO orm_user (user_id, name, password) VALUES (%(user_id)s, %(name)s, %(password)s)
2018-08-29 17:10:23,046 INFO sqlalchemy.engine.base.Engine {'user_id': 5, 'name': 'fakeuser', 'password': '12345'}
2018-08-29 17:10:23,049 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user
WHERE orm_user.name IN (%(name_1)s, %(name_2)s)
2018-08-29 17:10:23,050 INFO sqlalchemy.engine.base.Engine {'name_1': 'Edwardo', 'name_2': 'fakeuser'}

[<User(user_id=1, name=Edwardo, password=f8s7ccs>,
 <User(user_id=5, name=fakeuser, password=12345>]

In [98]:
help(session.query)

Help on method query in module sqlalchemy.orm.session:

query(*entities, **kwargs) method of sqlalchemy.orm.session.Session instance
    Return a new :class:`.Query` object corresponding to this
    :class:`.Session`.

In [93]:
list(session.query(User).order_by(User.user_id))

2018-08-29 17:12:50,092 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
2018-08-29 17:12:50,093 INFO sqlalchemy.engine.base.Engine {}

[<User(user_id=1, name=Edwardo, password=f8s7ccs>,
 <User(user_id=2, name=Wendy, password=foo>,
 <User(user_id=3, name=Mary, password=xxg527>,
 <User(user_id=4, name=K, password=blah>,
 <User(user_id=5, name=fakeuser, password=12345>]

In [114]:
session.query(User).order_by(User.user_id).all()

2018-08-29 17:38:14,735 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
2018-08-29 17:38:14,736 INFO sqlalchemy.engine.base.Engine {}

[<User(user_id=1, name=Edwardo, password=f8s7ccs>,
 <User(user_id=2, name=Wendy, password=foo>,
 <User(user_id=3, name=Mary, password=xxg527>,
 <User(user_id=4, name=K, password=blah>,
 <User(user_id=5, name=fakeuser, password=12345>]

In [121]:
query = session.query(User).order_by(User.user_id)
query.first()

2018-08-29 17:39:41,266 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
 LIMIT %(param_1)s
2018-08-29 17:39:41,267 INFO sqlalchemy.engine.base.Engine {'param_1': 1}

In [131]:
from sqlalchemy.orm.exc import MultipleResultsFound
try:
    user = query.one()
except MultipleResultsFound:
    print('MultipleResultsFound')

2018-08-29 17:47:32,824 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
2018-08-29 17:47:32,825 INFO sqlalchemy.engine.base.Engine {}
MultipleResultsFound

In [94]:
for i in session.query(User).order_by(User.user_id):
    print(i.name, i.password)

2018-08-29 17:14:04,303 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
2018-08-29 17:14:04,304 INFO sqlalchemy.engine.base.Engine {}
Edwardo f8s7ccs
Wendy foo
Mary xxg527
K blah
fakeuser 12345

In [97]:
for user_id, name in session.query(User.user_id, User.name).order_by(User.user_id):
    print(user_id, name)

2018-08-29 17:16:26,524 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name
FROM orm_user ORDER BY orm_user.user_id
2018-08-29 17:16:26,525 INFO sqlalchemy.engine.base.Engine {}
1 Edwardo
2 Wendy
3 Mary
4 K
5 fakeuser

In [99]:
for u in session.query(User).order_by(User.user_id)[1:3]:
    print(u)

2018-08-29 17:26:58,685 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user ORDER BY orm_user.user_id
 LIMIT %(param_1)s, %(param_2)s
2018-08-29 17:26:58,690 INFO sqlalchemy.engine.base.Engine {'param_1': 1, 'param_2': 2}
<User(user_id=2, name=Wendy, password=foo>
<User(user_id=3, name=Mary, password=xxg527>

In [102]:
for name in session.query(User.name).filter_by(name='Edwardo'):
    print(name)

2018-08-29 17:30:30,203 INFO sqlalchemy.engine.base.Engine SELECT orm_user.name AS orm_user_name
FROM orm_user
WHERE orm_user.name = %(name_1)s
2018-08-29 17:30:30,204 INFO sqlalchemy.engine.base.Engine {'name_1': 'Edwardo'}
('Edwardo',)

In [125]:
for i in session.query(User).filter(User.name.like('%e%')):
    print(i)

2018-08-29 17:44:11,100 INFO sqlalchemy.engine.base.Engine SELECT orm_user.user_id AS orm_user_user_id, orm_user.name AS orm_user_name, orm_user.password AS orm_user_password
FROM orm_user
WHERE orm_user.name LIKE %(name_1)s
2018-08-29 17:44:11,101 INFO sqlalchemy.engine.base.Engine {'name_1': '%e%'}
<User(user_id=1, name=Edwardo, password=f8s7ccs>
<User(user_id=2, name=Wendy, password=foo>
<User(user_id=5, name=fakeuser, password=12345>

# pandas

In [132]:
import pandas as pd
pd.read_sql_query('select * from orm_user', con=engine)

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

2018-08-29 17:53:40,905 INFO sqlalchemy.engine.base.Engine select * from orm_user
2018-08-29 17:53:40,905 INFO sqlalchemy.engine.base.Engine {}

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

   user_id   name password
0        1    Ted  f8s7ccs
1        2  Wendy      foo
2        3   Mary   xxg527
3        4      K     blah

In [133]:
f100 = pd.read_csv('f100.csv')

In [134]:
f100.to_sql('test_f', engine, if_exists='replace', index=False)

2018-08-29 17:59:39,989 INFO sqlalchemy.engine.base.Engine DESCRIBE `test_f`
2018-08-29 17:59:39,990 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 17:59:40,003 INFO sqlalchemy.engine.base.Engine ROLLBACK
2018-08-29 17:59:40,006 INFO sqlalchemy.engine.base.Engine
CREATE TABLE test_f (
	`Block` BIGINT,
	`Time (UTC)` TEXT,
	year BIGINT,
	month BIGINT,
	date BIGINT,
	timestamp BIGINT,
	`Amount (BTC)` FLOAT(53),
	`USD price` FLOAT(53),
	address TEXT,
	`rank` BIGINT
)


2018-08-29 17:59:40,006 INFO sqlalchemy.engine.base.Engine {}
2018-08-29 17:59:40,072 INFO sqlalchemy.engine.base.Engine COMMIT
2018-08-29 17:59:40,099 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-29 17:59:40,893 INFO sqlalchemy.engine.base.Engine INSERT INTO test_f (`Block`, `Time (UTC)`, year, month, date, timestamp, `Amount (BTC)`, `USD price`, address, `rank`) VALUES (%(Block)s, %(Time (UTC))s, %(year)s, %(month)s, %(date)s, %(timestamp)s, %(Amount (BTC))s, %(USD price)s, %(address)s, %(rank)s)
2018-08-29 17:59:40,894 INFO sqlalchemy.engine.base.Engine ({'Block': 538049, 'Time (UTC)': '2018-08-23T03:34:37Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -49.10277715, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538048, 'Time (UTC)': '2018-08-23T03:24:18Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -11.64232808, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538047, 'Time (UTC)': '2018-08-23T03:13:43Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -64.8441401, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538046, 'Time (UTC)': '2018-08-23T02:52:07Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 49.09049688, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538045, 'Time (UTC)': '2018-08-23T02:39:42Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -4.77728105, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538044, 'Time (UTC)': '2018-08-23T02:36:33Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -64.21634025, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538044, 'Time (UTC)': '2018-08-23T02:36:33Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 12.70150325, 'USD price': 6411.63, 'address': '155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4', 'rank': 76}, {'Block': 538043, 'Time (UTC)': '2018-08-23T02:15:50Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 15.26178674, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}  ... displaying 10 of 57484 total bound parameter sets ...  {'Block': 70071, 'Time (UTC)': '2010-07-24T23:35:23Z', 'year': 2010, 'month': 7, 'date': 24, 'timestamp': 20100724, 'Amount (BTC)': -9000.0, 'USD price': 0.053, 'address': '12ib7dApVFvg82TXKycWBNpN8kFyiAN1dr', 'rank': 37}, {'Block': 69970, 'Time (UTC)': '2010-07-24T12:16:11Z', 'year': 2010, 'month': 7, 'date': 24, 'timestamp': 20100724, 'Amount (BTC)': 19400.0, 'USD price': 0.053, 'address': '1PeizMg76Cf96nUQrYg8xuoZWLQozU5zGW', 'rank': 64})
2018-08-29 17:59:44,150 INFO sqlalchemy.engine.base.Engine COMMIT

# example

In [6]:
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
from sqlalchemy import create_engine, Table, Column, Integer, String

In [14]:
btc_engine = create_engine("mysql+pymysql://root:jack0705@localhost:3306/btc_t",echo=True)

In [9]:
import pandas as pd

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/_bootstrap.py:219: RuntimeWarning: numpy.dtype size changed, may indicate binary incompatibility. Expected 96, got 88
  return f(*args, **kwds)

In [10]:
f100 = pd.read_csv('f100.csv')

In [16]:
f100.to_sql('test_f', btc_engine, if_exists='append', index=False)

2018-08-30 11:03:32,965 INFO sqlalchemy.engine.base.Engine DESCRIBE `test_f`
2018-08-30 11:03:32,967 INFO sqlalchemy.engine.base.Engine {}
2018-08-30 11:03:33,013 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2018-08-30 11:03:33,953 INFO sqlalchemy.engine.base.Engine INSERT INTO test_f (`Block`, `Time (UTC)`, year, month, date, timestamp, `Amount (BTC)`, `USD price`, address, `rank`) VALUES (%(Block)s, %(Time (UTC))s, %(year)s, %(month)s, %(date)s, %(timestamp)s, %(Amount (BTC))s, %(USD price)s, %(address)s, %(rank)s)
2018-08-30 11:03:33,954 INFO sqlalchemy.engine.base.Engine ({'Block': 538049, 'Time (UTC)': '2018-08-23T03:34:37Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -49.10277715, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538048, 'Time (UTC)': '2018-08-23T03:24:18Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -11.64232808, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538047, 'Time (UTC)': '2018-08-23T03:13:43Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -64.8441401, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538046, 'Time (UTC)': '2018-08-23T02:52:07Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 49.09049688, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538045, 'Time (UTC)': '2018-08-23T02:39:42Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -4.77728105, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538044, 'Time (UTC)': '2018-08-23T02:36:33Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': -64.21634025, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}, {'Block': 538044, 'Time (UTC)': '2018-08-23T02:36:33Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 12.70150325, 'USD price': 6411.63, 'address': '155fzsEBHy9Ri2bMQ8uuuR3tv1YzcDywd4', 'rank': 76}, {'Block': 538043, 'Time (UTC)': '2018-08-23T02:15:50Z', 'year': 2018, 'month': 8, 'date': 23, 'timestamp': 20180823, 'Amount (BTC)': 15.26178674, 'USD price': 6411.63, 'address': '1NDyJtNTjmwk5xPNhjgAMu4HDHigtobu1s', 'rank': 70}  ... displaying 10 of 57484 total bound parameter sets ...  {'Block': 70071, 'Time (UTC)': '2010-07-24T23:35:23Z', 'year': 2010, 'month': 7, 'date': 24, 'timestamp': 20100724, 'Amount (BTC)': -9000.0, 'USD price': 0.053, 'address': '12ib7dApVFvg82TXKycWBNpN8kFyiAN1dr', 'rank': 37}, {'Block': 69970, 'Time (UTC)': '2010-07-24T12:16:11Z', 'year': 2010, 'month': 7, 'date': 24, 'timestamp': 20100724, 'Amount (BTC)': 19400.0, 'USD price': 0.053, 'address': '1PeizMg76Cf96nUQrYg8xuoZWLQozU5zGW', 'rank': 64})
2018-08-30 11:03:37,503 INFO sqlalchemy.engine.base.Engine COMMIT